:root {
    font-size: 14px;
}

body {
    background-color: #f5e5f9;
    color: #81568a;
}

.my-text-color {
    color: #81568a;
}

#searchButton {
    cursor: pointer;
}

.my-card-bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
}

.my-bg-purple {
    background-color: purple;
}

.my-bg-dark-green {
    background-color: rgb(0, 56, 0);
}

.my-bg-brown {
    background-color: brown;
}

.my-bg-acqua {
    background-color: aqua;
}

.my-bg-antico {
    background-color: burlywood;
}

.my-bg-silver {
    background-color: silver;
}

.my-cursor {
    cursor: pointer;
}

.my-bg-adapter {
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
}

.arrow-color {
    color: black;
}

.col-12.col-sm-6.col-lg-3.col-xl-2:hover {
    transform: scale(0.9);
    transition: 600ms;
}

.col-12.col-8:hover {
    transform: scale(0.9);
    transition: 600ms;
}