
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded&family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'BioRhyme Expanded', serif;
}

.container {
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

.logo {
    width: 100%;
}

h1 {
    font-size: 3em;
    margin: 2% 0px;
}

h2 {
    font-size: 2em;
    margin: 2% 0px;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    font-size: 1.4em;
    margin: 2% 0px;
}

li {
    margin-left: 5%;
}

ul {
    margin-top: 2%;
}

div {
    font-size: 1em;
    margin: 2% 0px;
}

.lista {
    font-size: 1.4em;
    margin: 2% 0px;
}
